body {
    background-color: rgb(241, 240, 240);
}

h1 {
    padding-top: 50px;
    padding-bottom: 10px;
}

#results, #nominations {
    display: inline-block;
}

.roundbox {
    border-radius: 3px;
    background-color: white;
}  